@import '../../../../../vendor/filament/filament/resources/css/theme.css';

@theme {
	--color-secondary-50: rgba(var(--secondary-50), <alpha-value>);
	--color-secondary-100: rgba(var(--secondary-100), <alpha-value>);
	--color-secondary-200: rgba(var(--secondary-200), <alpha-value>);
	--color-secondary-300: rgba(var(--secondary-300), <alpha-value>);
	--color-secondary-400: rgba(var(--secondary-400), <alpha-value>);
	--color-secondary-500: rgba(var(--secondary-500), <alpha-value>);
	--color-secondary-600: rgba(var(--secondary-600), <alpha-value>);
	--color-secondary-700: rgba(var(--secondary-700), <alpha-value>);
	--color-secondary-800: rgba(var(--secondary-800), <alpha-value>);
	--color-secondary-900: rgba(var(--secondary-900), <alpha-value>);
	--color-secondary-950: rgba(var(--secondary-950), <alpha-value>);
}

:root {
	--primary-50: #e7faf9;
	--primary-100: #d1f3f1;
	--primary-200: #f8d1a2;
	--primary-300: #f8d1a2;
	--primary-400: #f8d1a2;
	--primary-500: #335f69;
	--primary-600: #003743;
	--primary-700: #1c5f5e;
	--primary-800: #134847;
	--primary-900: #0d3433;
	--primary-950: #092424;
}

.fi-layout {
	@apply bg-gray-50 dark:bg-[#001e29];
}

.fi-topbar nav,
.fi-sidebar-header {
	@apply bg-gray-100 dark:bg-[#001e29];
}

.fi-body {
	@apply bg-gray-50 dark:bg-gray-800;
}

.fi-breadcrumbs-item-label {
	@apply dark:text-[#b4a183] text-gray-600;
}

.fi-header-heading,
.fi-ta-header-cell-label,
.fi-btn-color-gray span {
	@apply text-gray-600 dark:text-[#cbb18f];
}

.fi-ta {
	@apply bg-gray-50 dark:bg-[#001e29] p-1 border border-gray-300 dark:border-[#1a3f4c] rounded-2xl;
}
.fi-ta-ctn {
	@apply bg-white dark:bg-[#001e29] rounded-[calc(var(--radius-2xl)-var(--spacing))]  border border-gray-300 dark:border-[#1a3f4c] ring-0 shadow-none;
}

.fi-ta .fi-ta-ctn,
.fi-ta .fi-ta-ctn-with-header > * {
	@apply bg-white dark:bg-[#001e29];
}

.fi-section {
	@apply bg-white dark:bg-[#001e29] rounded-[calc(var(--radius-2xl)-var(--spacing))]  border border-gray-300 dark:border-[#1a3f4c] p-1 ring-0 shadow-none;
}

.fi-sc-section {
	@apply p-1 border border-gray-300 bg-gray-50 dark:bg-[#001e29] rounded-2xl dark:border-[#1a3f4c];
}

.fi-wi-stats-overview-stat,
.fi-wi-table {
	@apply shadow-none ring-0 dark:bg-[#001e29] rounded-2xl;
}

.fi-wi-stats-overview .fi-section,
.fi-wi-stats-overview .fi-sc-section {
	@apply p-0 border-0 bg-transparent rounded-none;
}

.fi-wi-stats-overview-stat {
	@apply relative z-10 p-6 shadow-none ring-0 border rounded-2xl border-gray-300 dark:border-[#1a3f4c] bg-gray-50 dark:bg-[#001e29] before:absolute before:inset-1 before:bg-white dark:before:bg-[#001e29] before:border before:border-gray-300 dark:before:border-[#1a3f4c] before:rounded-[calc(var(--radius-2xl)-var(--spacing))] before:-z-10;
}

.fi-wi-widget:not(.fi-wi-stats-overview) {
	@apply p-1 border border-gray-300 bg-gray-50 dark:bg-[#001e29] rounded-2xl dark:border-[#1a3f4c];
}

.fi-wi-widget.fi-wi-table {
	@apply p-0 border-0;
}

.fi-sc-wizard-header-step-icon-ctn:active {
	@apply border dark:border-primary-400;
}

.fi-text-color-0 {
	@apply dark:text-primary-400;
}

.fi-pagination .fi-pagination-next-btn,
.fi-pagination .fi-pagination-previous-btn {
	@apply dark:text-primary-400 text-[#134847];
}

.fi-icon-btn-badge-ctn span {
	@apply dark:text-[#b4a183] text-[#134847] bg-[#d1f3f1] dark:bg-primary-400/20;
}

/* .fi-topbar-item-active a,
.fi-topbar-item-active button {
	@apply bg-secondary-500 hover:bg-secondary-400 dark:bg-primary-500 dark:text-secondary-500 dark:hover:bg-primary-400;
} */

/* .fi-ta-toggle > div.fi-color-custom,
.fi-fo-toggle.fi-color-custom {
	@apply bg-primary-500;
} */

/* .fi-btn-color-primary {
	@apply bg-primary-400;
}

.fi-fo-field-wrp-label span {
	@apply text-gray-600;
}

.fi-ta {
	@apply bg-gray-50 dark:bg-[#123743] p-1 border border-gray-300 dark:border-[#1a3f4c] rounded-2xl;
}
.fi-ta-ctn {
	@apply bg-white dark:bg-[#123743] rounded-[calc(var(--radius-2xl)-var(--spacing))]  border border-gray-300 dark:border-[#1a3f4c] ring-0 shadow-none;
}

.fi-ta .fi-ta-ctn,
.fi-ta .fi-ta-ctn-with-header > * {
	@apply bg-white dark:bg-[#123743];
}

.fi-dropdown .fi-icon-btn-badge-ctn {
	@apply dark:bg-[#123743];
}

.fi-input-wrp {
	@apply ring-1 ring-gray-200 dark:ring-white/20;
}

.fi-tabs-item-active {
	@apply bg-primary-100;
}

.fi-tabs-item-active span {
	@apply !text-secondary-900;
}

.fi-section {
	@apply bg-white dark:bg-[#123743] rounded-[calc(var(--radius-2xl)-var(--spacing))]  border border-gray-300 dark:border-[#1a3f4c] p-1 ring-0 shadow-none;
}

.fi-sc-section {
	@apply p-1 border border-gray-300 bg-gray-50 dark:bg-[#123743] rounded-2xl dark:border-[#1a3f4c];
}

.fi-wi-stats-overview-stat,
.fi-wi-table {
	@apply shadow-none ring-0 dark:bg-[#123743] rounded-2xl;
}

.fi-wi-stats-overview .fi-section,
.fi-wi-stats-overview .fi-sc-section {
	@apply p-0 border-0 bg-transparent rounded-none;
}

.fi-wi-stats-overview-stat {
	@apply relative z-10 p-6 shadow-none ring-0 border rounded-2xl border-gray-300 dark:border-[#1a3f4c] bg-gray-50 dark:bg-[#123743] before:absolute before:inset-1 before:bg-white dark:before:bg-[#123743] before:border before:border-gray-300 dark:before:border-[#1a3f4c] before:rounded-[calc(var(--radius-2xl)-var(--spacing))] before:-z-10;
}

.fi-wi-widget:not(.fi-wi-stats-overview) {
	@apply p-1 border border-gray-300 bg-gray-50 dark:bg-[#123743] rounded-2xl dark:border-[#1a3f4c];
}

.fi-wi-widget.fi-wi-table {
	@apply p-0 border-0;
}

.fi-topbar-item-active a,
.fi-topbar-item-active button {
	@apply bg-secondary-500 hover:bg-secondary-400 dark:bg-primary-500 dark:text-secondary-500 dark:hover:bg-primary-400;
}

.fi-topbar-item-active svg {
	@apply dark:text-secondary-500;
}

.fi-topbar .fi-tenant-menu {
	@apply lg:!hidden;
}

.fi-tenant-menu {
	@apply rounded-lg mt-4;
}

.fi-btn-group > .fi-btn:first-of-type {
	@apply rounded-s-full;
}

.fi-btn-group > .fi-btn:last-of-type {
	@apply rounded-e-full;
}

.fi-header-actions-ctn > .fi-ac > a {
	@apply dark:bg-primary-600 dark:hover:bg-primary-500 bg-primary-600 hover:bg-primary-500 text-white dark:text-primary-400;
}

.fi-global-search-result-group-header {
	@apply bg-gray-50 dark:bg-[#123743];
}

.fi-btn-group {
	@apply rounded-full;
}

.fi-ta-toggle > div.fi-color-custom,
.fi-fo-toggle.fi-color-custom {
	@apply bg-primary-500;
}

.fi-ta-toggle > div.fi-color-gray,
.fi-fo-toggle.fi-color-gray {
	@apply bg-gray-200;
}

.fi-badge {
	@apply rounded-xl ;
}

.fi-fo-field-wrp-helper-text {
	@apply text-gray-500 dark:text-gray-300;
}

.fi-tabs-item-active span {
	@apply dark:!text-gray-100;
}

.fi-sidebar-item-button .fi-badge,
.fi-topbar-item-button .fi-badge {
	@apply bg-primary-300 dark:bg-primary-200;
}

.fi-sidebar-item-button .fi-badge span span,
.fi-topbar-item-button .fi-badge span span {
	@apply text-gray-700;
}


.fi-btn.fi-color-primary .fi-btn-label {
	@apply text-primary-950;
} */

.fi-color-primary {
	--color-50: var(--primary-50) !important;
	--color-100: var(--primary-100) !important;
	--color-200: var(--primary-200) !important;
	--color-300: var(--primary-300) !important;
	--color-400: var(--primary-400) !important;
	--color-500: var(--primary-500) !important;
	--color-600: var(--primary-600) !important;
	--color-700: var(--primary-700) !important;
	--color-800: var(--primary-800) !important;
	--color-900: var(--primary-900) !important;
	--color-950: var(--primary-950) !important;
}
